#modalContainer {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  #modalPagebackground {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  #insideModal {
    border: 2px solid #939b9b;
    border-radius: 12px;
    position: absolute;
    background-color:white;
    background: rgb(169,169,169);
background: linear-gradient(90deg, rgba(169,169,169,1) 19%, rgba(255,90,95,1) 81%);
  }
