.form {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 500px;
    margin: auto
}

h1.form {
    text-align: center;
}

label {
    display: block;
}

input.full {
    width:93.8%}

input.price {
    width:93.8%
}

textarea.desc {
    width:93.8%;
    height: 100px
}

.field-error {
    color: red;
    font-weight: bold;
    font-size: smaller;
}
.createButton{
        display: block;
        margin: 0px auto;
        margin-top: 10px;
}
.borderBottom{
    border-bottom: 2px 1px gray;
}
