@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
* {
  transition: all 0.3s ease;
}
a {

  text-decoration: none;
}
a:hover {
  color: lightgray;
}
button {

  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 14px 24px;
  border: 1px solid crimson;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: #FF5A5F;
  color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}
button:hover {
  background-color: white;
  color: red;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}
button:active {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  transform: translateY(1px);
}


/* //darkMode */


:root {
  --blue:  rgb(34, 34, 34);;
  --white: rgb(236, 236, 236);
  --textColor: darkgray;
}

body {
  font-family: "Ubuntu", sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  font-weight: var(--font-weight);
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
}

body.light {
  --background-color: var(--white);
  --text-color: var(--blue);
  --font-weight: 400;
  --image: url("https://cdn-icons-png.flaticon.com/512/768/768442.png");
}

body.dark {
  --background-color: var(--blue);
  --text-color: var(--textColor);
  --font-weight: 500;
}
