.hidden {
  display: none
}
.Icon {
  position: fixed;
}
.navBarHeader {
  width: 100%;
  top: 0px;
  height: 50px;
  padding: 10px;
  background-color: white;
  position: sticky;
  z-index: 1;
  bottom: 5px;
  border-bottom: 1px solid black;
}
.actualNav {
  position: fixed;
  right: 10px;
  top: 6px;
  list-style-type: none;
}
ul.actualNav > li {
  display: inline-block;
  margin: 0px 3px
}
.profile-dropdown {
  background-color: white;
  padding: 10px;
  border-radius: 2px;
  list-style-type: none;
  border: 2px solid #939b9b;
  border-radius: 12px;
}
.borderBottom{
  padding-top: 5px;
border-bottom: 2px solid black;
width: 60%
}
